.dashboard {
  /* flex: 7; */
  padding-bottom: 80px;
  padding: 10px;
  margin-top: 10px; 
  width: calc(100% - 300px);
  /* margin-left: 300px; */
}
.dashboardWrraper{
  margin-left: 10px;
}
.row {
  /* padding: 0px 10px; */
  margin-top: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* display: flex; */

  margin-bottom: 1% !important;
}
/* .main {
  width: 100%;
  display: flex;
} */
.dashbordItem {
  flex: 1;
  padding: 30px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}
.dashbordItem:hover {
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transform: scale(1.05, 1.05);
}
.dashboardtitle {
  /* margin-right: 180px; */
  justify-content: space-between;
}

/* .row {
  margin: 0 -5px;
  align-items: center;
  color: white;
}
.row.after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 75%;
  padding: 10px 10px;
}
.card {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #444444;
}


.card > *:first-child {
  align-self: stretch;
  margin-right: 10px;
} */

a{
  text-decoration: none !important;
  color: #333333 !important;
}