.singliLine-header{
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
}
.discri-input{
    width: 70%;
}
.discri-lbl{
    font-size: 12px;
    padding-right: 20px !important
}
.code-table{
    border: 1px solid lightgray;
}
.code-table-header{
    border: 1px solid lightgray;
}
.code-table-col{
    text-align: center;
    border: 1px solid lightgray;
    
}
.code-table-col input{ 
    margin : 4px 0px 4px 0px !important;
}
.form-control{
    /* display: block; */
    width: 59% !important;
    height: 35px;
    padding: 6px 16px;
    font-size: 13px !important;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.form-control2{
    /* display: block; */
    /* width: 26% !important; */
    height: 35px;
    padding: 6px 16px;
    font-size: 13px !important;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.formInputs{
    /* padding: 12px; */
    font-size: 13px !important;
    color: #0d0e0f;
}
.limit-input{
    margin-left: 15px;
}