.singliLine-header{
    width: 101%;
    margin-bottom: 10px;
    height: 30px;
    border: none;
}
.discri-input{
    width: 70%;
}
.formfield{
    background: #fff;
    border: 10px solid #dffbff;
    /* border-top: 0; */
}
::placeholder {
    content: attr(placeholder);
    color: #ccc;
    font-style: italic;
    letter-spacing: 2px;
    border: none;
}

input:focus-visible {
border: none;
outline: none;
}
.discri-lbl{
    font-size: 12px;
    padding-right: 20px !important
}
.code-table{
    border: 1px solid lightgray;
}
.code-table-header{
    border: 1px solid lightgray;
}
.code-table-col{
    text-align: center;
    border: 1px solid lightgray;
    
}
.code-table-col input{ 
    margin : 4px 0px 4px 0px !important;
}
.form-control{
    /* display: block; */
    width: 59% !important;
    height: 35px;
    padding: 6px 16px;
    font-size: 13px !important;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.form-control::placeholder{
    opacity: 0.5 !important;
    font-style: italic;
}
.form-control2{
    /* display: block; */
    /* width: 26% !important; */
    height: 35px;
    padding: 6px 16px;
    font-size: 13px !important;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.formInputs{
    /* padding: 12px; */
    font-size: 13px !important;
    /* color: #0d0e0f; */
   
    margin: 0;
    /* padding: 7px 10px; */
    box-shadow: none;
    margin: 0;
}
.limit-input{
    margin-left: 15px;
}

.formInputs label{
    font-weight: 400 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    color: #656565;
    font-size: 14px !important;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 8px;
}