html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  padding: 5px;
  border-right: 1px solid #111;
  /* background: #e1e1e1; */
  /* max-height: 80vh;
  overflow: auto; */
  border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 #000;

}
.menu-item{
  overflow-y: scroll;
  /* height: 200px; */
  max-height: 67vh;
}
.sideBarItem {
  width: 100%;
    display: inline-block;
    padding: 5px;
    border: #efefef 1px solid;
    margin: 5px 0 0;
    color: #969696;
    font-size: 12px;
    cursor: grab;
    vertical-align: top;
    position: relative;
  
}

.page {
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  /* height: 400px; */
  /* border: 1px solid green; */
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #fff;
  height: 300px;
border: 1px solid #00AAAA;
  /* transition: 100ms all; */
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.column {
  border: 1px solid blue;
  flex: 1 1 100%;
  padding: 10px;
}

.columns {
  display: flex;
  padding: 20px 0;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.row {
  /* border: 1px solid lightgray; */
  padding: 0;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  background: #fff;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-top: 0;
    height: 411px;
    overflow-y: auto;
    overflow-x: hidden;
    border: #e2e2e2 solid 1px;
    position: relative;
    margin-bottom: 8px;
    margin: 0 10px 0 10px;
}
.title-bar{
  height: 50px;
}
.option-header{
  background-color: #f5f7fa;
}
.btncolorSave{
  background-color: #00AAAA;
  border: none;
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    border-radius: 4px;
}


