
.navbar{
  width: 100%;
  height: 30%;
  background-color: #00AAAA;
  /* border-bottom: 1px solid #f2f4f9; */
  box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
  transition: width .1s ease, left .1s ease;
  padding:  0 !important;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid gray;
}
.header-logo{
  /* border-right: 1px solid gray; */
  width: 225px !important;
  display: flex;
  justify-content: center;
}
.navbarWrapper{
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.main-logo{
  max-width: 100%;
  height: 50px;
  /* padding-left: 2rem; */
  /* justify-content: space-between;      */
}