.leave {
  flex: 7;
  padding-left: 10PX;
}

.employeeWrapper { 
  background-color: #fafbfc;
  /* padding: 0px 20px; */
  display: flex;
  align-items: center;
  /* margin-bottom: 1% !important; */
  border-bottom: 1px solid lightgray;
  padding: 13px;
}
.empyloyeemain {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
